/* Website styles */

body {
  background-color: WhiteSmoke;
  color: DarkSlateBlue;
  font-family: 'East Sea Dokdo', cursive;
}

h1 {
  color: red;
  font-family: Helvetica, Arial;
}

h2 {
  color: green;
}

header {
  color: rbg(44, 44, 44);
  /* background-color: yellow; */
}

section {
  color: blue;
  /* background-color: grey; */
}

p {
  color: black;
}

footer {
  color: black;
  background-color: aqua;
}
